
<div id="popularpostIndicators" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       
        <div class="container">
            <div class="row justify-content-center gy-2">
              <div class="col-lg-3 col-10">
                <box class="d-flex border-bottom border-Primary position-relative bg-dark bg-opacity-50 align-items-center px3 postcard">
                  <div class="w-75 d-none d-lg-block my3">
                    <img src="../assets/images/聊串/地面師聊串.png" alt="地面師" class="h-100">
                  </div>
                  <div class="text-truncate ml3 my-lg6 mx-lg3 ml-lg0">
                    <p class="fz-5 text-truncate d-none d-lg-block">一天追完！劇情好刺<br>激！揪劇友一起討論啊！</p>
                    <p class="fz-5 text-truncate d-block d-lg-none">一天追完！劇情好刺激！揪劇友一起討論啊！</p>
                    <!--電腦版-->
                    <div class="tag d-flex fz-mini mt-1 d-none d-lg-block">
                      <a href="#" class="text-gray-400">#地面師</a>
                      <a href="#" class="text-gray-400 mx2">#大推特推</a>
                      <a href="#" class="text-gray-400">#無雷</a>
                    </div>
                    <!--手機版-->
                    <div class="tag d-flex mt-1 d-block d-lg-none">
                      <a href="#" class="btn btn-gray-300 rounded-pill py0 fz-mini">#地面師</a>
                      <a href="#" class="btn btn-gray-300 rounded-pill mx2 py0 fz-mini">#大推特推</a>
                      <a href="#" class="btn btn-gray-300 rounded-pill py0 fz-mini">#無雷</a>
                    </div>

                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0 bg-opacity-50">#68</p>
                  </div>
                </box>
              </div>
            <!--電腦選單-->   
              <div class="col-lg-4 d-none d-lg-block">
                <box class="d-flex border-bottom position-relative bg-dark bg-opacity-50 align-items-center px3 postcard">
                  <div class="w-50 my3">
                    <img src="../assets/images/聊串/淚之女王 聊串.png" alt="淚之女王" class="h-100">
                  </div>
                  <div class="text-truncate ml3 my-lg6 mx-lg3 ml-lg0">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#淚之女王</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#微雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0 bg-opacity-50">#121</p>
                  </div>
                </box>
              </div>
              <div class="col-lg-3 d-none d-lg-block ">
                <box class="d-flex border-bottom position-relative bg-dark bg-opacity-50 postcard px3 align-items-center">
                  <div class="w-75 my3">
                    <img src="../assets/images/聊串/甄嬛聊串.png" alt="甄嬛" class="h-100" >
                  </div>
                  <div class="ml3 my-lg6 mx-lg3 ml-lg0 text-truncate">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#甄嬛傳</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#大推特推</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#23</p>
                  </div>
                </box>
              </div>

            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="container">
            <div class="row justify-content-center gy-2">
        <!--電腦選單 第二頁--> 
              <div class="col-lg-3 col-10 d-none d-lg-block ">
                <box class="d-flex border-bottom border-Primary position-relative bg-dark bg-opacity-50 align-items-center px3 postcard">
                  <div class="w-75 d-none d-lg-block my3">
                    <img src="../assets/images/聊串/地面師聊串.png" alt="地面師" class="h-100">
                  </div>
                  <div class="text-truncate ml3 my-lg6 mx-lg3 ml-lg0">
                    <p class="fz-5 text-truncate d-none d-lg-block">一天追完！劇情好刺<br>激！揪劇友一起討論啊！</p>
                    <p class="fz-5 text-truncate d-block d-lg-none">一天追完！劇情好刺激！揪劇友一起討論啊！</p>
                    <!--電腦版-->
                    <div class="tag d-flex fz-mini mt-1 d-none d-lg-block">
                      <a href="#" class="text-gray-400">#地面師</a>
                      <a href="#" class="text-gray-400 mx2">#大推特推</a>
                      <a href="#" class="text-gray-400">#無雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0 bg-opacity-50">#68</p>
                  </div>
                </box>
              </div>
            <!--手機顯示-->  
              <div class="col-lg-4 col-10">
                <box class="d-flex border-bottom position-relative bg-dark bg-opacity-50 align-items-center px3 postcard">
                  <div class="w-50 my3">
                    <img src="../assets/images/聊串/淚之女王 聊串.png" alt="淚之女王" class="h-100">
                  </div>
                  <div class="text-truncate ml3 my-lg6 mx-lg3 ml-lg0">
                  <!--電腦版-->
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#淚之女王</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#微雷</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0 bg-opacity-50">#121</p>
                  </div>
                </box>
                   <!--手機版-->
                   <div class="tag d-flex mt-1 d-block d-lg-none">
                    <a href="#" class="btn btn-gray-300 rounded-pill py0 fz-mini">#淚之女王</a>
                    <a href="#" class="btn btn-gray-300 rounded-pill mx2 py0 fz-mini">#劇評</a>
                    <a href="#" class="btn btn-gray-300 rounded-pill py0 fz-mini">#微雷</a>
                  </div>
                </box>
              </div>
              <div class="col-lg-3 d-none d-lg-block ">
                <box class="d-flex border-bottom position-relative bg-dark bg-opacity-50 postcard px3 align-items-center">
                  <div class="w-75 my3">
                    <img src="../assets/images/聊串/甄嬛聊串.png" alt="甄嬛" class="h-100" >
                  </div>
                  <div class="ml3 my-lg6 mx-lg3 ml-lg0 text-truncate">
                    <p class="fz-5 text-truncate">爱到深處的另一面不是<br>「不愛了」，而是「死別」</p>
                    <div class="tag d-flex fz-mini mt-1">
                      <a href="#" class="text-gray-400">#甄嬛傳</a>
                      <a href="#" class="text-gray-400 mx2">#劇評</a>
                      <a href="#" class="text-gray-400">#大推特推</a>
                    </div>
                    <p class="text-light fz-mini bg-black px2 d-inline position-absolute top-0 start-0">#23</p>
                  </div>
                </box>
              </div>

            </div>
          </div>
      </div>
     
    </div>
    <button class="carousel-control-prev " type="button" data-bs-target="#popularpostIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon bg-dark bg-opacity-50" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#popularpostIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon bg-dark bg-opacity-50" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>




  </div>

  

