<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>編輯資料</title>
</head>
<body>
    <%- include('./layout/header_afterlogin'); -%>

    <header>
        <div class="container-fluid text-center py20 py-lg10">
            <h4>編輯資料</h4>
        </div>
    </header>

    <main class="myProfileEdit-main mt-lg15">
      <!--電腦版-->  
      <form class="container d-flex flex-column justify-content-center align-items-center mb30">
        <section class="profile container pb5 pb-lg0">
            <div class="row justify-content-center align-items-center gy-sm-5">
               <!--大頭貼--> 
                <div class="col-lg-4">
                    <box class="Photo-stickers d-flex flex-column align-items-center">
                        <div>
                            <img src="../assets/images/profile/profile-image.png" alt="魏瓔珞" width="150" height="150">
                        </div>
                        <div >
                            <i class="bi bi-pencil-fill"></i>
                            <a href="#" class="fz-5 ml3">更換角色</a>
                        </div>
                    </box>
                </div>
                <div class="col-lg-6">
                    <box class="mt-lg15">
                        <label for="username" class="form-label fz-6">名字</label>
                        <input type="text" id="username" class="form-control bg-dark border-0">
                    </box>
                </div>
            </div>
           <!--簡介--> 
            <div class="row justify-content-center align-items-center ">
               <div class="col-lg-4 text-center  text-sm-start">
                <div class="birthday my20 my-lg5">
                    <label for="birthday" class="mr4 fz-6">生日</label>
                    <input type="date" id="birthday" name="birthday bg-dark">
                </div>
               </div> 
               
                <div class="col-lg-6">
                    <div class="Introduction">
                        <div class="d-flex flex-sm-row flex-lg-column justify-content-sm-between">
                            <label for="Introduction" class="form-label fz-6">簡介</label> 
                            <button class="btn d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#Introduction-RWD" aria-expanded="false" aria-controls="collapseExample">
                            <i class="bi bi-chevron-right text-gray-300 fz-6"></i>
                            </button>
                        </div>
                       <textarea class="form-control bg-dark border-0 text-gray-300 collapse" id="Introduction-RWD" id="Introduction" rows="5">我超愛看劇的，天天沙發馬鈴薯，經常在沙發上睡著...</textarea>
                       <!--手機版-->
                       <textarea class="form-control bg-dark border-0 text-gray-300 d-none d-lg-block" id="Introduction-RWD" id="Introduction" rows="5">我超愛看劇的，天天沙發馬鈴薯，經常在沙發上睡著...</textarea>
                    </div>
                </div>
            </div>
        </section>

       
          <div class="container my20 my-lg5 mt-lg0 mb-lg20">
            <div class="row justify-content-center align-items-center align-items-sm-start gy-sm-3">
                 <div class="col-lg-4 align-items-center">
                     <box >
                         <div>
                            <div class="d-flex justify-content-sm-between fz-6">
                                <p>關注</p>
                                <a href="#" class="ml9"><i class="bi bi-chevron-right"></i></a>
                            </div>
                             
                         </div>
                     </box>
                 </div>
                 <div class="col-lg-6">
                     <box>
                        <div class="d-flex justify-content-lg-around justify-content-sm-between fz-6 pr-lg0">
                            <p>劇友</p>
                            <a href="#" class="ml9"><i class="bi bi-chevron-right"></i></a>
                        </div>
                     </box>
                 </div>
             </div>
            
             
         <div class="dramalist ml20 mt10 ml-lg0 mt-lg5">
           <div class="d-flex flex-sm-row flex-lg-column justify-content-sm-between">
            <P class="fz-6">我正在追</P>
            <button class="btn d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#dramalist" aria-expanded="false" aria-controls="collapseExample">
                <i class="bi bi-chevron-right text-gray-300 fz-6"></i>
              </button>

           </div> 
        
            <div class="container mt10  collapse" id="dramalist" >
                <div class="row gy-4">
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/魷魚遊戲.png">
                                    <img src="../assets/images/profile/魷魚遊戲.png" alt="dramalist-1" class="w-100">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">魷魚遊戲</p>
                            </div>
                        </box>
                        
                    </div>
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/復仇者聯盟.png">
                                    <img src="../assets/images/profile/復仇者聯盟.png" alt="dramalist-2" class="object-fit-cover">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">復仇者聯盟</p>
                            </div>

                        </box>
                    </div>
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/墨雨雲間.png">
                                    <img src="../assets/images/profile/墨雨雲間.png" alt="dramalist-3" class="object-fit-cover w-100">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">墨雨雲間</p>
                            </div>
                        </box>
                    </div>
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/月之戀人.png">
                                    <img src="../assets/images/profile/月之戀人.png" alt="dramalist-4" class="w-100">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">月之戀人</p>
                            </div>
                        </box>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-gray-300 text-center" >
                            <a href="#" class="py10 fz-15"><i class="bi bi-plus-circle"></i></a>
                        </div>
                    </div>
    
    
                </div>
    
              </div>
              <div class="container mt10 d-none d-lg-block">
                <div class="row gy-4">
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/魷魚遊戲.png">
                                    <img src="../assets/images/profile/魷魚遊戲.png" alt="dramalist-1" class="w-100">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">魷魚遊戲</p>
                            </div>
                        </box>
                        
                    </div>
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/復仇者聯盟.png">
                                    <img src="../assets/images/profile/復仇者聯盟.png" alt="dramalist-2" class="object-fit-cover">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">復仇者聯盟</p>
                            </div>

                        </box>
                    </div>
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/墨雨雲間.png">
                                    <img src="../assets/images/profile/墨雨雲間.png" alt="dramalist-3" class="object-fit-cover w-100">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">墨雨雲間</p>
                            </div>
                        </box>
                    </div>
                    <div class="col-lg-3">
                        <box class="position-relative">
                            <div>
                                <picture>
                                    <source media="(min-width: 992px)" srcset="../assets/images/profile/月之戀人.png">
                                    <img src="../assets/images/profile/月之戀人.png" alt="dramalist-4" class="w-100">
                                  </picture>
                                  <p class="position-absolute bottom-0 start-0 fz-lg7 bg-gray-400 bg-opacity-50 px3">月之戀人</p>
                            </div>
                        </box>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-gray-300 text-center" >
                            <a href="#" class="py10 fz-15"><i class="bi bi-plus-circle"></i></a>
                        </div>
                    </div>
    
    
                </div>
    
              </div>

        </div>
          </div>
           <button class="w-25 btn btn-gray-400 btn-lg d-inline text-gray-200" type="submit">完成編輯</button>
      

       </form> 
      <!--手機版-->
      <form  class="container">




      </form> 

      <%- include('./layout/myProfile_down'); -%>



    </main>

 



    <script type="module" src="../main.js"></script>
</body>
</html>