<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>index</title>
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <main class="dramalist-main">
      <section>
        <div class="container">
          <!-- 麵包屑 -->
          <div class="d-lg-flex justify-content-between">
            <nav
              class="mb4"
              style="--bs-breadcrumb-divider: '>'"
              aria-label="breadcrumb"
            >
              <ol class="breadcrumb breadcrumb-text">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item ative" aria-current="page">
                  新劇總覽頁
                </li>
              </ol>
            </nav>

            <!-- Button trigger modal -->
            <div class="d-lg-none mb4 d-grid gap-2">
              <button
                type="button"
                class="btn md-btn-bg d-flex justify-content-between align-items-center p2"
                data-bs-toggle="modal"
                data-bs-target="#filterModal"
              >
                篩選條件 <i class="bi bi-sliders2-vertical"></i>
              </button>
            </div>

            <!-- Modal -->
            <div
              class="modal fade"
              id="filterModal"
              tabindex="-1"
              aria-labelledby="filterModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content bg-gray-600 text-gray-200">
                  <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">篩選條件</h5>
                    <button
                      type="button"
                      class="btn-close d-flex align-items-center btn-icon"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="bi bi-x filtericon"></i>
                    </button>
                  </div>
                  <!-- body -->
                  <div class="modal-body p3">
                    <div class="filter-box mb3">
                      <h6 class="fz-5 mb4">戲劇類型</h6>
                      <div>
                        <button
                          class="btn filter-type filter-text w-100 mb4"
                          type="button"
                        >
                          電影
                        </button>
                        <button
                          class="btn filter-type filter-text w-100 mb4"
                          type="button"
                        >
                          戲劇
                        </button>
                        <button
                          class="btn filter-type filter-text w-100"
                          type="button"
                        >
                          動漫
                        </button>
                      </div>
                    </div>

                    <div class="filter-box mb3">
                      <h6 class="fz-5 mb4">國家地區</h6>
                      <ul>
                        <li class="mb3">
                          <a href="#" class="filter-tag mr4">台灣</a>
                          <a href="#" class="filter-tag mr4">大陸</a>
                          <a href="#" class="filter-tag mr4">香港</a>
                          <a href="#" class="filter-tag">英國</a>
                        </li>
                        <li class="mb3">
                          <a href="#" class="filter-tag mr4">歐美</a>
                          <a href="#" class="filter-tag mr4">泰國</a>
                          <a href="#" class="filter-tag mr4">日本</a>
                          <a href="#" class="filter-tag">韓國</a>
                        </li>
                        <li>
                          <a href="#" class="filter-tag">其他</a>
                        </li>
                      </ul>
                    </div>

                    <div class="filter-box mb3">
                      <h6 class="fz-5 mb4">戲劇類型</h6>
                      <ul>
                        <li class="mb3">
                          <a href="#" class="filter-tag mr4">台灣</a>
                          <a href="#" class="filter-tag mr4">大陸</a>
                          <a href="#" class="filter-tag mr4">香港</a>
                          <a href="#" class="filter-tag">英國</a>
                        </li>
                        <li class="mb3">
                          <a href="#" class="filter-tag mr4">劇情</a>
                          <a href="#" class="filter-tag mr4">喜劇</a>
                          <a href="#" class="filter-tag mr4">奇幻</a>
                          <a href="#" class="filter-tag">愛情</a>
                        </li>
                        <li class="mb3">
                          <a href="#" class="filter-tag mr4">職場</a>
                          <a href="#" class="filter-tag mr4">校園</a>
                          <a href="#" class="filter-tag mr4">犯罪</a>
                          <a href="#" class="filter-tag">動作</a>
                        </li>
                        <li class="mb3">
                          <a href="#" class="filter-tag mr4">戰爭</a>
                          <a href="#" class="filter-tag mr4">懸疑</a>
                          <a href="#" class="filter-tag mr4">靈異</a>
                          <a href="#" class="filter-tag">古裝</a>
                        </li>
                        <li>
                          <a href="#" class="filter-tag mr4">醫療</a>
                          <a href="#" class="filter-tag">其他</a>
                        </li>
                      </ul>
                    </div>

                    <div class="dropdown filter-box mb3">
                      <a
                        class="btn btn-secondary dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        詳細條件
                      </a>

                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                      >
                        <li><a class="dropdown-item" href="#">年分</a></li>
                        <li>
                          <a class="dropdown-item" href="#">好評 action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>

                    <div class="dropdown filter-box mb3">
                      <a
                        class="btn btn-secondary dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        互動條件
                      </a>

                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                      >
                        <li><a class="dropdown-item" href="#">年分</a></li>
                        <li>
                          <a class="dropdown-item" href="#">好評 action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>

                    <div class="dropdown filter-box">
                      <a
                        class="btn btn-secondary dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        其他條件
                      </a>

                      <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                      >
                        <li><a class="dropdown-item" href="#">年分</a></li>
                        <li>
                          <a class="dropdown-item" href="#">好評 action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 劇串數量 -->
            <span class="text-gray-300 fz-mini">共8,520筆劇串</span>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
              <div class="filter-box mb3">
                <h6 class="fz-5 mb4">戲劇類型</h6>
                <div>
                  <button
                    class="btn filter-type filter-text w-100 mb4"
                    type="button"
                  >
                    電影
                  </button>
                  <button
                    class="btn filter-type filter-text w-100 mb4"
                    type="button"
                  >
                    戲劇
                  </button>
                  <button
                    class="btn filter-type filter-text w-100"
                    type="button"
                  >
                    動漫
                  </button>
                </div>
              </div>

              <div class="filter-box mb3">
                <h6 class="fz-5 mb4">國家地區</h6>
                <ul>
                  <li class="mb3">
                    <a href="#" class="filter-lg-text mr4">台灣</a>
                    <a href="#" class="filter-lg-text mr4">大陸</a>
                    <a href="#" class="filter-lg-text mr4">香港</a>
                    <a href="#" class="filter-lg-text">英國</a>
                  </li>
                  <li class="mb3">
                    <a href="#" class="filter-lg-text mr4">歐美</a>
                    <a href="#" class="filter-lg-text mr4">泰國</a>
                    <a href="#" class="filter-lg-text mr4">日本</a>
                    <a href="#" class="filter-lg-text">韓國</a>
                  </li>
                  <li>
                    <a href="#" class="filter-lg-text">其他</a>
                  </li>
                </ul>
              </div>

              <div class="filter-box mb3">
                <h6 class="fz-5 mb4">戲劇類型</h6>
                <ul>
                  <li class="mb3">
                    <a href="#" class="filter-lg-text mr4">台灣</a>
                    <a href="#" class="filter-lg-text mr4">大陸</a>
                    <a href="#" class="filter-lg-text mr4">香港</a>
                    <a href="#" class="filter-lg-text">英國</a>
                  </li>
                  <li class="mb3">
                    <a href="#" class="filter-lg-text mr4">劇情</a>
                    <a href="#" class="filter-lg-text mr4">喜劇</a>
                    <a href="#" class="filter-lg-text mr4">奇幻</a>
                    <a href="#" class="filter-lg-text">愛情</a>
                  </li>
                  <li class="mb3">
                    <a href="#" class="filter-lg-text mr4">職場</a>
                    <a href="#" class="filter-lg-text mr4">校園</a>
                    <a href="#" class="filter-lg-text mr4">犯罪</a>
                    <a href="#" class="filter-lg-text">動作</a>
                  </li>
                  <li class="mb3">
                    <a href="#" class="filter-lg-text mr4">戰爭</a>
                    <a href="#" class="filter-lg-text mr4">懸疑</a>
                    <a href="#" class="filter-lg-text mr4">靈異</a>
                    <a href="#" class="filter-lg-text">古裝</a>
                  </li>
                  <li>
                    <a href="#" class="filter-lg-text mr4">醫療</a>
                    <a href="#" class="filter-lg-text">其他</a>
                  </li>
                </ul>
              </div>

              <div class="dropdown filter-box mb3">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  詳細條件
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">2020年代</a></li>
                  <li>
                    <a class="dropdown-item" href="#">2010年代</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">2000年代</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">1990年代</a>
                  </li>
              </div>

              <div class="dropdown filter-box mb3">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  互動條件
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">好評</a></li>
                  <li>
                    <a class="dropdown-item" href="#">總人氣</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">當週人氣</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">當日人氣</a>
                  </li>
                </ul>
              </div>

              <div class="dropdown filter-box">
                <a
                  class="btn btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  其他條件
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">上映熱播中</a></li>
                  <li>
                    <a class="dropdown-item" href="#">經典回味</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">海外熱門</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-lg-9">
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb6">
                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
                    src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-2.png"
                    class="card-img-top"
                    alt="淚之女王"
                  />                  
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>職場</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>愛情</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">淚之女王</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>502人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>85劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
               
                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-18.png"
              class="card-img-top"
              alt="墨雨雲間"
            />             
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>古裝</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>愛情</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">墨雨雲間</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>365人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>52筆劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-12.png"
              class="card-img-top"
              alt="重啟人生"
            />              
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>劇情</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>職場</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">重啟人生</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>456人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>48劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-20.png"
              class="card-img-top"
              alt="華燈初上"
            />              
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>懸疑</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>劇情</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">華燈初上</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>10.5k人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>125劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-9.png"
              class="card-img-top"
              alt="人選之人-造浪者"
            />          
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>職場</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>律政</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">人選之人-造浪者</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>722人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>98劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-7.png"
              class="card-img-top"
              alt="CSI犯罪現場-紐約"
            />           
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>犯罪</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>懸疑</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">CSI犯罪現場-紐約</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>106人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>16劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-6.png"
              class="card-img-top"
              alt="Sweet Home"
            />              
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>懸疑</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>劇情</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">Sweet Home</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>156人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>24劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-17.png"
              class="card-img-top"
              alt="復仇者聯盟"
            />        
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>劇情</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>奇幻</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">復仇者聯盟</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>45.6人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>948劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card card-bg position-relative">
                    <img
              src="/assets/images/minnie-zhou-0hiUWSi7jvs-unsplash 1-4.png"
              class="card-img-top"
              alt="路基完"
            />              
                     <a class="btn btn-outline-primary position-absolute top-0 end-0  button-bell mt2 mr2" href="#" role="button"><i class="bi bi-bell"></i></a>

                    <div class="card-body card-text">
                      <div class="mb3">
                        <a href="#" class="px-1 mr1"><i class="bi bi-hash"></i>劇情</a>
                      <a href="#" class="px-1"><i class="bi bi-hash"></i>愛情</a>
                      </div>
                      <h5 class="fz-6 text-gray-200 mb3">路基完</h5>
                      <div class="d-flex justify-content-between">
                        <span><i class="bi bi-people mr1"></i>76人共振串聯 
                        </span>
                        <span><i class="bi bi-chat-right-text mr1"></i>18劇串
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                
                <!-- row-div -->
              </div>

              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>

            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
